.button {
  padding: 5px 12px;
}

.button:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}

.previewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.previewText {
  text-decoration-line: underline;
  color: dimgrey;
}
